<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="utf-8">
			<title>SSRFTest</title>
			<meta name="viewport" content="width=device-width">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
			<style>.navbar-fixed-top { position: absolute!important; }</style>
			{% block scripts %}
			{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<span class="navbar-brand"><a href="/" style="color: white; text-decoration: none;">SSRFTest</a></span>
				<ul class="navbar-nav mr-auto">
					<li {% if page=='home' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
						<a class="nav-link" href="{{ handler.index.get_index }}">Home</a>
					</li>
					{% if session.user == None %}
						<li {% if page=='register' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
							<a class="nav-link" href="{{ handler.auth.get_register }}">Sign Up</a>
						</li>
						<li {% if page=='login' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
							<a class="nav-link" href="{{ handler.auth.get_index }}">Log In</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ handler.auth.get_logout }}">Log Out</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>

		<div class="container" style="padding-top: 10px">
			{% block body %}
			{% endblock %}

			<hr>

			<footer>
				<p>&copy; <a href="https://www.twitter.com/daeken">Cody Brocious</a> 2018</p>
			</footer>
		</div>
		<script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</body>
</html>
