{% extends "base.html" %}
{% block body %}
	{% if error %}
		<div class="alert alert-danger">{{ error }}</div>
	{% endif %}
	<div class="col-md-4 order-md-1">
		<h1 class="h3 mb-3 font-weight-normal">Log in</h1>
		<form action="{{ handler.auth.post_login }}" method="POST">$CSRF$
			<div class="mb-3">
				<label for="username">Username</label>
				<div class="input-group">
					<input type="text" class="form-control" id="username" name="username" placeholder="username" required>
				</div>
			</div>
			<div class="mb-3">
				<label for="password">Password</label>
				<div class="input-group">
					<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
				</div>
			</div>
			<button class="btn btn-primary btn-block" type="submit">Log in</button>
		</form>
	</div>
{% endblock %}